# Notebook Instructions
<i>You can run the notebook document sequentially (one cell at a time) by pressing <b> shift + enter</b>. While a cell is running, a [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook [8].</i>

<i>Enter edit mode by pressing <b>`Enter`</b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area.</i>

## Data Structures: Lists

Objects of type List are flexible and powerful data structure. In finance, you can achieve a lot using lists.

For example: Storing stock price quotes and appending new data. A list is defined by its square brackets.

#### We will prepare a list of fibonnaci numbers and define our list. We will return the 0th element from the list.

In [1]:
#fibonnaci series = 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, .... 

list_l1 = ['fibonnaci',0,1,1,2,3,5,8]
list_l1 [0]

'fibonnaci'

#### Return the 7th element

In [2]:
list_l1 [7]

8

#### Return the type of data structure

In [3]:
type (list_l1)

list

#### Append the values [13,21] as one element in the list

In [4]:
list_l1.append([13,21])
print (list_l1)

['fibonnaci', 0, 1, 1, 2, 3, 5, 8, [13, 21]]

#### Extend the list with numbers 89 and 144

In [5]:
list_l1.extend([89,144])
list_l1

['fibonnaci', 0, 1, 1, 2, 3, 5, 8, [13, 21], 89, 144]

#### Insert any element in the list

In [6]:
list_l1.insert(1,'bogey')
list_l1

['fibonnaci', 'bogey', 0, 1, 1, 2, 3, 5, 8, [13, 21], 89, 144]

#### Insert elements in the list to correct the Fibonnaci series

In [7]:
list_l1.insert(10,34)
list_l1.insert(11,55)
list_l1

['fibonnaci', 'bogey', 0, 1, 1, 2, 3, 5, 8, [13, 21], 34, 55, 89, 144]

#### Pop the bogey element from the list

In [8]:
p = list_l1.pop(1)
list_l1,p

(['fibonnaci', 0, 1, 1, 2, 3, 5, 8, [13, 21], 34, 55, 89, 144], 'bogey')

#### Remove any element from the list

In [9]:
list_l1.remove('fibonnaci')
list_l1

[0, 1, 1, 2, 3, 5, 8, [13, 21], 34, 55, 89, 144]

#### Reverse the order of the list

In [10]:
list_l1.reverse()
list_l1

[144, 89, 55, 34, [13, 21], 8, 5, 3, 2, 1, 1, 0]

#### Return particular elements from the list

In [11]:
list_l1[8:12]

[2, 1, 1, 0]

#### Define a new list and sort the list

In [12]:
list_l2 = [23,65,96,45,75]
list_l2.sort()
list_l2

[23, 45, 65, 75, 96]

In the next IPython notebook, you will learn about <b> dictionaries</b>. <b><b>